body {
    text-align: center;
    padding: 20px;
}
/* 
#signup {
    border: .5px solid black;
    border-radius: 8px;
    width: 50%;
    margin: 25px auto;
} */


input[type=text], input[type=tel], input[type=email] {
    width: 35%;
    padding: 6px 14px;
    margin-bottom: 25px;
}


#map {
    height: 250px;
    display: none;
} 
